body {
    background: white;
    color: black;
    align-items: center;
    margin: 10px;
    font-family: "ヒラギノ角ゴシック";
    font-size: 14px;
}

.div-pre {
    white-space: pre;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #EAEAF0;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: "ヒラギノ角ゴシック";
    font-size: 14px;
}

.div_pre::-webkit-scrollbar{
    display: none;
}

h2{
    margin-top: -5px;
    margin-bottom: -30px;
    font-family: "ヒラギノ角ゴシック";
}

textarea{
    font-size: 16px;
    width: 100%;
}

.outline{
    outline-style:solid;
    border-radius: 10px;
    outline-width: 1px;
    padding: 15px;
    outline-color: #E0E0E0;
}

textarea{
    font-size: 16px;
    box-sizing: border-box;
    resize: vertical;
}