body {
    background: white;
    color: black;
    align-items: center;
    margin: 50px;
    font-family: "ヒラギノ角ゴシック";
    font-size: 20px;
}

pre {
    outline: none;
    padding: 16px;
    background-color:lightyellow;
    font-family: "ヒラギノ角ゴシック";
}

.div-pre {
    white-space: pre;
    padding: 5px;
    background-color:lightgray;
    font-family: "ヒラギノ角ゴシック";
}

h2{
    margin-bottom: -15px;
    font-family: "ヒラギノ角ゴシック";
}

textarea{
    font-size: 16px;
}